{% extends "top_bar_layout.html" %}
{% block body %} 

    <div class="container">

      <div class="starter-template">
        <h1>Active Games</h1>
      </div>

	    <div id="your_turn"> <b>Your Turn</b>
	    	<hr>
	    	<li><a href="#">vs Gurr3</a></li>
	    	<li><a href="#">vs KaemparLinus</a></li>
	    	<!-- TODO auto generate list -->
	    	
	    </div>  
	    <br>
	    <br>
	    <br>
	    <div id="their_turn"> <b>Their Turn</b>
	    	<hr>
	    	<li><a href="#">vs David</a></li>
	    	<li><a href="#">vs Anton</a></li>
	    	<!-- TODO auto generate list -->
	    </div>  
	    <br>
	    <br>
	    <br>  
	    <div id="finished_games"> <b>Finished Games</b>
	    	<hr>
	    	<li><a href="#">vs Linus</a></li>
	    	<li><a href="#">vs William</a></li>
	    	<!-- TODO auto generate list -->
	    </div>  
    </div><!-- /.container -->


     <style type="text/css">
 	hr {
 		border-color: black;
 	}
  </style>


{% endblock %}
