{% extends "top_bar_layout.html" %}

{% block body %} 

    <div class="container">

      <div class="starter-template">
        <h1>Want to create a game? lol owned not implemented yet.</h1>

        Invite Friends
        <br>
         <input type=text placeholder="Friend 1" name=friend_1> <br>
         <input type=text placeholder="Friend 2" name=friend_2> <br>
         <input type=text placeholder="Friend 3" name=friend_3> <br>
         <input type=text placeholder="Friend 4" name=friend_4> <br>

         <button>Start game </button>
        <p class="lead">
      </div>

      

    </div><!-- /.container -->

{% endblock %}





