
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="static/assets/ico/favicon.png">

    <title>Quizzing Bricks</title>

    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.css" rel="stylesheet">
    <link href="static/css/board.css" rel="stylesheet">




    <!-- Custom styles for this template -->
    <link href="static/css/starter-template.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Quizzing Bricks</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li class="active"><a href="/game_board">Game Board</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

  

    <div class="container">

      <div class="starter-template">
        <h1>Game board</h1>
        <p class="lead"> Where the magic happens! :D
         <div class="choose_player">
          Choose Player:
          <button type="button" onclick='changeText("Black")'>Black</button>
          <button type="button" onclick='changeText("White")'>White</button>
          <br>Current Player = <b id='player_color'> Black </b>
        </div>
        <div id="board">
          <div id ="square_div">
            {% set hor_scale = 64.8 %}
            {% set ver_scale = 64.4 %}
            {% for x in range(1, 9) %}
              {% for y in range(1, 9) %}
                {% set LEFT = ((x-1)*hor_scale) %}
                {% set TOP = (y-1)*ver_scale %}  
                <!-- BEGIN square -->
                <div id="square_{{x}}_{{y}}" class="square" style="left: {{LEFT}}px; top: {{TOP}}px;">
                <!--{{x}}.{{y}}--></div>
                <!-- END square -->
                {% endfor %}
              {% endfor %}
            
          </div>
        <!--  <div id="tokens" width="100" height="100">
          Token test
          <img id="test pic" src="/static/img/Tokens.png"/>
          </div> -->
        </div>



      </div>

      

    </div><!-- /.container -->

<SCRIPT LANGUAGE="JavaScript">

<!-- 
function changeText(txt){
  document.getElementById('player_color').innerHTML = txt;
}

// -->
</script>




<script type="text/javascript">
window.onload=function(){
var black_token = document.createElement("img");
black_token.setAttribute("src", "/static/img/Black_Token.png");
black_token.setAttribute("height", "56");
black_token.setAttribute("width", "56");

var white_token = document.createElement("img");
white_token.setAttribute("src", "/static/img/White_Token.png");
white_token.setAttribute("height", "56");
white_token.setAttribute("width", "56");

document.getElementById("square_2_2").appendChild(black_token);
document.getElementById("square_2_3").appendChild(white_token);
}
</script>
<div id="placehere">

</div>


<!--
<script type="text/javascript">

// Templates

var jstpl_token='<div class="token tokencolor_${color}" id="token_${x_y}"></div>';

</script>
-->
    
    <script src="static/js/add_Token.js"></script>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="static/assets/js/jquery.js"></script>
   <!-- <script src="static/js/bootstrap.min.js"></script> -->
    
  </body>
</html>
