{% extends "top_bar_layout.html" %}
{% set active_page = "index" %}
{% block body %} 

    <div class="container">

      <div class="starter-template">
        <h1>Quizzing Bricks</h1>
        <p class="lead">Soon in a browser close to you
      </div>
<!--
       <div id="main_area" class="row-fluid">
    <div class="span10 offset1">
        <div id="formAlert" class="alert hide">  
          <a class="close">×</a>  
          <strong>Warning!</strong> Make sure all fields are filled and try again.
        </div>

        <form name="register" action="" method="post">
            <input type="text" name="username" />
            <br />
            <input type="submit" class="btn btn-primary" value="Submit" />
        </form>
    </div>
</div>
-->
        <!--
       <div class=metanav>
          {% if not session.logged_in %}
            <a href="{{ url_for('login') }}">log in</a>
          {% else %}
            <a href="{{ url_for('logout') }}">log out</a>
          {% endif %}
          </div>
          {% for message in get_flashed_messages() %}
            <div class=flash>{{ message }}</div>
          {% endfor %} -->
    </div>      <!-- /.container -->

{% endblock %}