{% extends "top_bar_layout.html" %}
{% set active_page = "test_board" %}
{% block body %} 
     <link href="static/css/board.css" rel="stylesheet">

     <div class="container">

      <div class="starter-template">
        <h1>Game board</h1>
        <p class="lead"> Where the magic happens! :D
         <div class="choose_player">
          Choose Player:
          <img src="/static/img/Black_Token.png" onclick='selectToken(TOKEN.BLACK)'/>
          <img src="/static/img/White_Token.png" onclick='selectToken(TOKEN.WHITE)'/>
          <img src="/static/img/Red_Token.png" onclick='selectToken(TOKEN.RED)'/>
           <img src="/static/img/Yellow_Token.png" onclick='selectToken(TOKEN.YELLOW)'/>
          <img src="/static/img/Blue_Token.png" onclick='selectToken(TOKEN.BLUE)'/>
          <img src="/static/img/Green_Token.png" onclick='selectToken(TOKEN.GREEN)'/>
           <img src="/static/img/Pink_Token.png" onclick='selectToken(TOKEN.PINK)'/>
          <img src="/static/img/Teal_Token.png" onclick='selectToken(TOKEN.TEAL)'/>
    
          <br>Current Player = <b id='player_color'> Choose player! </b>
        </div>
        <div id="board">
          <div id ="square_div">
            {% set hor_scale = 64.8 %}
            {% set ver_scale = 64.4 %}
            {% for x in range(0, 8) %}
              {% for y in range(0, 8) %}
                {% set LEFT = ((x)*hor_scale) %}
                {% set TOP = (y)*ver_scale %}  
                <!-- BEGIN square -->
                <div id="square_{{x}}_{{y}}" onclick='addTokens({{x}},{{y}})' class="square" style="left: {{LEFT}}px; top: {{TOP}}px;">
                <!--{{x}}.{{y}}--></div>
                <!-- END square -->
                {% endfor %}
              {% endfor %}
          </div>
        </div>
        <div id="result">
          
        </div>
      </div>
    </div><!-- /.container -->













    <!-- My own scripts -->
    <script src="static/js/test_board.js"></script>

{% endblock %}