
<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="static/assets/ico/favicon.png">

    <title>{% block title %}{% endblock %}Quizzing Bricks</title>

    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.css" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="static/css/top_bar_layout.css" rel="stylesheet">
    

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
    {% endblock %}
  </head>
{% set navigation_bar = [
    ('/', 'index', 'Index'),
    ('/about', 'about', 'About'),
    ('/contact', 'contact', 'Contact'),
    ('/game_board', 'game_board', 'Game_board'),
    ('/test_board', 'test_board', 'Test_board')
] -%}
{% set active_page = active_page|default('index') -%}
</ul>
  <body>
  {% block top_bar %}
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div id="navbar_container" class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a class="navbar-brand" href="/">Quizzing Bricks</a>
        </div>
        <div id="top_div" class="collapse navbar-collapse">
          <ul  class="nav navbar-nav">
            {% for href, id, caption in navigation_bar %}
              <li{% if id == active_page %} class="active"{% endif
              %}><a href="{{ href|e }}">{{ caption|e }}</a></li>
            {% endfor %}
            
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Game Menu<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/active_games">Active Games</a></li>
                <li><a href="#">Quickjoin 2p</a></li>
                <li><a href="#">Quickjoin 4p</a></li>
                <li><a href="/create_game">Create Game</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>

            
          </ul>
  
          <ul id="navbar_right" class="navbar-form pull-right">

             {% if not session.logged_in %}
              <form action="{{ url_for('login') }}" class="form-inline"  method=post>
                <div class="form-group">
                  <input class="form-control" type=text placeholder="Username" name=username>
                </div>
                <div class="form-group">
                  <input type=password class="form-control" placeholder="Password" name=password>
                </div>
				
                <!--<div class="checkbox">
                  <label>
                    <input type="checkbox"> <font color=White>Remember me <font>     saving if we want to use later 
                  </label>
                </div> -->
                <button  class="btn btn-success" type=submit value=Login >Login </button>
                 
              </form> 

              {% else %}
              <!--  <form action="{{ url_for('logout') }}"  >
                  <button  class="btn btn-default" type=submit  >Logout </button>  
                </form> -->
              {% endif %}
                <!--<form action="{{ url_for('register_user') }}" >
                  <button   class="btn btn-default"  > Register</button> 
                </form> -->
                
                <div>

                  <a href="/register_user">Register user</a> 
               </div> 
           </ul> 
        
        </div><!--/.nav-collapse -->
      </div>
    </div>
  {% endblock %}

  {% block default_body %}
           
    {% if error %}
      <div class="container">  
        <div id="alert_div" class="alert alert-danger">  
          <a class="close" data-dismiss="alert">×</a>  
          <strong>Warning!</strong> {{error}}                                             
        </div>  
      </div> 
    {% endif %}

  {% endblock %}  

  {% block body %} {% endblock %}
    




  <script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

  </script>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src="static/assets/js/jquery.js"></script>
    <script src="static/js/bootstrap.min.js"></script> 

 
  </body>
</html>
